* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bde5fa;
  height: 1200px;
}

nav {
  padding: 20px 50px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  transition: all 0.8s;
}

.scrolled {
  background-color: #f1f9fe;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li:nth-child(1) a {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
  font-weight: 500;
  font-size: large;
  padding-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: #09689b;
  font-weight: 500;
  font-size: large;
  transition: all 0.2s;
  padding-bottom: 5px;
  border-bottom: 1px solid #17a4e000;
}

nav ul li a:hover {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
}

.hamburger-icon {
  display: none;
}

/* Header */
.container {
  position: relative;
}

.container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #f1f9fe;
  -webkit-text-stroke: 1px #09689b;
  text-shadow: 2px 2px 8px black;
  text-align: center;
}
/* End */

main {
  padding: 20px 50px;
}

/* Destination Section */
main .section-1 h2 {
  font-size: 40px;
}

main .section-1 p a {
  text-decoration: none;
  color: #09689b;
  padding-bottom: 3px;
  font-size: large;
  border-bottom: 1px solid #09689b00;
  transition: all 0.8s;
}

main .section-1 p a:hover {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
}


main .section-1 .card {
  display: flex;
  gap: 2rem;
  flex: 1;
}

main .section-1 .card-item  {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(224, 255, 255, 0);
  transition: all 0.3s;
}

main .section-1 .card-item:hover {
  box-shadow: 4px 4px 10px lightslategray;
}

main .section-1 .card .card-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}
/* End */

/* Gallery Section */
main .section-2 h2 {
  margin-top: 50px;
  font-size: 40px;
}

main .section-2 p a {
  text-decoration: none;
  color: #09689b;
  padding-bottom: 3px;
  font-size: large;
  border-bottom: 1px solid #09689b00;
  transition: all 0.8s;
}

main .section-2 p a:hover {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
}


main .section-2 .card {
  display: flex;
  gap: 2rem;
  flex: 1;
}

main .section-2 .card-item  {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(32, 178, 171, 0);
  transition: all 0.3s;
}

main .section-2 .card-item:hover {
  box-shadow: 4px 4px 10px lightslategray;
}

main .section-2 .card .card-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}
/* End */

/* Footer */
footer {
  margin-top: 50px;
  background-color: #f1f9fe;
  padding: 20px 50px;
}

footer div p {
  text-align: center;
}
/* End */

/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
  nav {
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
  }

  nav ul {
    display: blcok;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    padding: 30px;
  }

  nav ul.hidden {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  main .section-1 .card-item {
    padding: 15px;
  }

  main .section-2 .card-item {
    padding: 15px;
  }
}
/* End */

/* Mobile */
@media screen and (max-width: 576px) {
  .container h1 {
    font-size: 50px;
  }

  main {
    padding: 20px;
  }

  main .section-1 .card {
    flex-direction: column;
    gap: 0;
  }

  main .section-1 .card-item {
    padding: 20px;
  }

  main .section-2 .card {
    flex-direction: column;
    gap: 0;
  }

  main .section-2 .card-item {
    padding: 20px;
  }
}
/* End */