* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bde5fa;
}

/* Navbar */
nav {
  padding: 20px 50px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: all 0.8s;
}

.scrolled {
  background-color: #f1f9fe;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li:nth-child(2) a {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
  font-weight: 500;
  font-size: large;
  padding-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: #09689b;
  font-weight: 500;
  font-size: large;
  transition: all 0.2s;
  padding-bottom: 5px;
  border-bottom: 1px solid #17a4e000;
}

nav ul li a:hover {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
}

.hamburger-icon {
  display: none;
}
/* End */

/* Main section */
main {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

main .section-destination h2 {
  font-size: 40px;
}

main .section-destination p a {
  text-decoration: none;
  color: #09689b;
  padding-bottom: 3px;
  font-size: large;
  border-bottom: 1px solid #09689b00;
  transition: all 0.8s;
}

main .section-destination p a:hover {
  color: #17a3e0;
  border-bottom: 1px solid #17a3e0;
}


main .section-destination .card {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

main .section-destination .card-item {
  background-color: white;
  width: 330px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(224, 255, 255, 0);
  transition: all 0.3s;
}

main .section-destination .card-item:hover {
  box-shadow: 4px 4px 10px lightslategray;
}

main .section-destination .card .card-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

/* End */

/* Footer */
footer {
  margin-top: 50px;
  background-color: #f1f9fe;
  padding: 20px 50px;
}

footer div p {
  text-align: center;
}
/* End */

/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
  nav {
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
  }

  nav ul {
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    padding: 30px;
  }

  nav ul.hidden {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  main .section-destination .card-item {
    padding: 15px;
  }
}

/* End */

/* Mobile */
@media screen and (max-width: 576px) {

  main {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  main .section-destination .card-item {
    padding: 20px;
  }
}

/* End */